/*!
Project: GN group;
Date create: 2016-10-17;
Date last modification: 2016-11-04;
Author: Eugene Poprotsky/Eugeniusz Poprocki/Евгений Попроцкий;
Company: Iguana studio;
Version: 1.0;
*/

@import
    'vendor/_media-queries.scss',
    'vendor/_flexboxgrid.scss',
    'vendor/_flickity.scss',
    'helpers/_variables.scss',
    'helpers/_helpers.scss',
    'helpers/_mixins.scss',
    'base/_normalize.scss',
    'base/_fonts.scss',
    'base/_global.scss',
    'base/_wysiwyg.scss',
    'base/_ie.scss',
    'components/_buttons.scss',
    'components/_form.scss',
    'components/_pagination.scss',
    'components/_alerts.scss',
    'components/_headings.scss',
    'components/_slider.scss',
    'layout/_breadcrumbs.scss',
    'layout/_grid.scss',
    'layout/_header.scss',
    'layout/_footer.scss',
    'pages/_homepage.scss',
    'pages/_offer.scss',
    'pages/_promotions.scss',
    'pages/_news.scss',
    'pages/_textpage.scss',
    'pages/_about.scss',
    'pages/_contact.scss';