// default font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

// icons
@font-face {
  font-family: $default-font-family-icon;
 src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $default-font-family-icon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-logo:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e906";
}
