.ie {
    .main-header--white .main-header__logo {
        width: 140px;
    }
    .main-header__logo {
        width: 120px;
    }
    @include max-screen(1500px) {
        .main-header__logo {
            width: 110px;
        }
    }
    .main-header--thin .main-header__logo {
        width:100px;
    }
    .homepage-offer__text-section * {
        max-width: 100%;
    }
    [data-stellar-background-ratio] {
        background-attachment: scroll;
        background-position: center !important;
    }
    .contact-data-team__item *,
    .about-tiles > .row > .flex,
    .homepage-news__post > * {
        max-width: 100%;
    }
    .homepage-done-investments > .row > .flex,
    .homepage-done-investments__item,
    .homepage-promotion__text-part,
    .homepage-promotion__text-part > *:not(.btn) {
        width: 100%;
    }

    .done-investments-numbers.flex-col-2 > .done-investments-numbers__item {
        flex-basis: 43% !important; 
        @include max-screen(1500px) {
            flex-basis: 40% !important;
        }
    }
    @include max-screen($sm-max) {
        .done-investments-numbers.flex-col-2--sm > .done-investments-numbers__item {
            flex-basis: 43% !important;
        }
        .boxes {
            padding: 0;
        }
    }
    @include max-screen($xxs-max) {
        .done-investments-numbers.flex-col-1--xxs > .done-investments-numbers__item {
            flex-basis: 100% !important;
        }
    }
    
    .done-investments-numbers.flex-col-3 > .done-investments-numbers__item {
        flex-basis: 27%;
        @include max-screen(1500px) {
            flex-basis: 24%;
        }
    }
}