.wysiwyg {
    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.66;
    }
    strong {
        font-weight: 400;
    }
    a {
        text-decoration: underline;
    }
    blockquote {
        padding-left: 0;
        padding-right: 0;
        font-size: 22px;
        line-height: 1.5;
    }
}