.alert {
    padding: 18px 20px;
    font-weight: 300;
    margin: $default-margin;
    background-color: $bg-color-lighter;
    &--success {
        background-color: #fff;
        border: 1px solid #2ecc71;
        color: #27ae60;
    }
}