.btn {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 17px 30px 14px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    color: $font-color-lighter;
    @include transition();
    &[type="submit"],
    &[type="button"]{
        padding: 19px 30px 17px;
    }
    &--first {
        margin-left: 0;
    }
    &--last {
        margin-right: 0;
    }
    &--default {
        border: 2px solid rgba(138,138,138,.3);
    }
    &--primary {
        background-color: #fff;
        color: $default-font-color;
    }
    &--default,
    &--primary {
        @include hover() {
            border-color: transparent;
            background-color: $bg-color-darker;
            color: #fff !important; 
        }
    }
}

.btn-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0;
    margin-top: 30px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    color: $default-font-color;
    @include transition();
    @include hover() {
        color: $link-color-hover;
    }
    &--border {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 10px;
            right: 10px;
            height: 2px;
            background-color: $element-color-1;
        }
    }
}