.heading {
    width:100%;
    background-image: url('../img/default-bg-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 0;
    }
    &__title {
        padding: 170px 15px;
        color:#fff;
        font-weight: 700;
        position: relative;
        z-index: 2;
        margin:0;
        @include max-screen($md-max) {
            padding: 120px 15px;
        }
        @include max-screen($xs-max) {
            padding: 80px 15px;
        }
    }
    &--no-blackout {
        &::before {
            background-color: rgba(0,0,0,.3);
        }
        .heading__title {
            padding-bottom: 270px;
            @include max-screen($md-max) {
                padding-bottom: 220px;
            }
            @include max-screen($xs-max) {
                padding-bottom: 180px;
            }
        }
    }
}

.contact-page .heading {
    background-image: url('../img/contact-img.jpg');
}