.pagination {
    text-align: left;
    padding: 0;
    font-size: 1.6rem;
    color: #6592b1;
    margin: 2.5rem 0;
    clear: both;
    .pages {
        display: inline-block;
        vertical-align: middle;
    }
    ol {
        list-style: none;
        display: inline;
        margin: 0; 
        li {
            margin: 0 2px;
            padding: 0;
            background: none;
            float: left;
            &.prev,
            &.next {
                a {
                    color: #FFF;
                    display: block;
                    &:hover {
                        color: #fff;
                        background-color: #86a618;
                    }
                    .ico {
                        position: relative;
                        top: 1px;
                    }
                }
            }
            &.prev {
                margin-left: 0;
                margin-right: 5px;
                font-size: 1rem;
            }
            &.next {
                margin-right: 0;
                margin-left: 5px;
                font-size: 1rem;
            },
            a,
            span {
                display: block;
                width: 35px;
                height: 35px;
                line-height: 35px;
                color: #FFF;
                font-weight: 700;
                text-align: center;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                background: #274a8a;
            }
            a:hover,
            span {
                color: #FFF;
                background-color: #86a618; 
            }
        }
    }
}