// dots
.flickity-page-dots {
    width: auto;
    bottom:10%;
    right:calc(6.2% + 15px);
    background-color: rgba(0,0,0,.7);
    padding: 7px;
    @include max-screen(1500px) {
        right:calc(2.5% + 15px);
    }
    @include max-screen($xs-max) {
        display: none;
    }
    .dot {
        display: inline-flex;
        border-radius: 0;
        background-color: #fff;
        width: 14px;
        height:14px;
        margin: 3px;
        padding: 0;
        opacity: .3;
        @include transition();
        @include hover() {
            opacity: 1;
        }
        &.is-selected {
            opacity: 1;
        }
        &::before {
            content:none;
        }
    }
}

// arrows
.slider-container {
    .previous-arrow,
    .next-arrow {
        position: absolute;
        z-index: 5;
        color: #fff;
        font-size: 55px;
        top: 50%;
        transform: translateY(-50%);
        opacity: .5;
        @include transition();
        @include hover(){
            opacity: 1;
        }
    }
    .previous-arrow {
        transform: rotate(180deg);
        left: calc(6.2% + 15px);
        @include max-screen(1500px) {
            left:calc(2.5% + 15px);
        }
        @include max-screen($xxs-max) {
            left:15px;
        }
    }
    .next-arrow {
        right: calc(6.2% + 15px);
        @include max-screen(1500px) {
            right:calc(2.5% + 15px);
        }
        @include max-screen($xxs-max) {
            right:15px;
        }
    }
}

