// 
// intro
// 
.about-intro {
    padding-top: 110px;
    @include max-screen($xs-max) {
        padding-top: 50px;
    }
    @include max-screen($xxs-max) {
        padding-top: 0;
    }
    .container-wide {
        padding: 100px 120px;
        @include max-screen($xs-max) {
            padding: 50px;
        }
        @include max-screen($xxs-max) {
            padding: 30px;
        }
    }
    .wysiwyg {
        p {
            font-weight: 400;
            color: $font-color-lighter;
            line-height: 1.4;
        }
    }
    .icon-logo {
        display: block;
        font-size: 53px;
        margin-bottom: 20px;
    }
    &__title {
        line-height: 1.25;
    }
}

// 
// main sections
// 
.about-main-sections {
    padding-bottom: 60px;
    .container-wide {
        padding: 0;
    }
}

//
// tiles
//
.about-tiles {
    margin-top: -120px;
    background-color: $key-color-1;
    position: relative;
    z-index: 9;
    overflow: hidden;
    margin-bottom: 70px;
    [class^='col-'] {
        padding: 0;
    }
    &__text-part {
        color:#fff;
        padding: 60px 95px;
        min-height: 485px;
        @include max-screen($md-max) {
            min-height: 400px;
        }
        @include max-screen($xs-max) {
            padding: 50px 70px;
        }
        @include max-screen($xxs-max) {
            padding: 50px;
            min-height: 300px;
        }
        &-title {
            color: #fff;
        }
        p {
            line-height: 1.66;
            letter-spacing: .3px;
        }
    }
    &__img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        &--1 {
            background-image: url('../img/about-tiles-img-1.jpg');
        }
        &--2 {
            background-image: url('../img/about-tiles-img-2.jpg');
        }
        &--3 {
            background-image: url('../img/about-tiles-img-3.jpg');
        }
        @include max-screen($md-max) {
            padding: 50% 0;
        }
    }
}

//
// about done investments
//
.done-investments {
    &__title {
        margin-bottom: 70px;
    }
    
    &__img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%; 
        @include max-screen($sm-max) {
            padding: 50% 0;
        }
        &--1 {
            background-image: url('../img/done-investments-1.jpg');
        }
        &--2 {
            background-image: url('../img/done-investments-2.jpg');
        }
        &--3 {
            background-image: url('../img/done-investments-3.jpg');
        }
        &--4 {
            background-image: url('../img/done-investments-4.jpg');
        }
        &--5 {
            background-image: url('../img/done-investments-5.jpg');
        }
    }
}

//
// done investments item
//
.done-investments-item {
    margin-bottom: 40px;
    overflow: hidden;
    &>.row {
        min-height: 570px;
        &>[class^="col-"] {
            padding: 0;
        }
    }
    &__text-part {
        padding: 100px 60px 100px 100px;
        @include max-screen(1500px) {
            padding: 80px 60px 60px 80px;
        }
        @include max-screen($sm-max) {
            padding: 50px;
        }
        .btn {
            margin:0;
            margin-top:40px;
            @include max-screen($xxs-max) {
                width: 100%;
            }
        }
        &-title {
            text-transform: uppercase;
        }
        p {
            font-size: 18px;
            color:$font-color-lighter;
        }
    }
    &__desc {
        margin-top: 50px;
    }
}

// numbers
.done-investments-numbers {
    // 2 cols
    &.flex-col-2,
    &[class*="flex-col-2--"] {
        &>:nth-child(even) {
            padding-left: 30px;
        }
        &>:nth-child(odd) {
            border-right: 1px solid rgba(138,138,138,.2);
        }
        &>:first-child,
        &>:nth-child(2) {
            border-top: 0;
        }
    }
    // 3 cols
    &.flex-col-3,
    &[class*="flex-col-3--"] {
        &>* {
            padding-left: 30px;
            border-right: 1px solid rgba(138,138,138,.2);
        }
        &>:nth-child(3n + 3) {
            border-right: 0;
        }
        &>:first-child,
        &>:nth-child(2),
        &>:nth-child(3) {
            border-top: 0;
        }
        @include max-screen($sm-max) {
            &>:nth-child(3) {
                border-top: 1px solid rgba(138,138,138,.2);
            }
            &>:nth-child(3n + 3) {
                border-right: 1px solid rgba(138,138,138,.2);
            }
            &>:nth-child(even) {
                border-right: 0;
            }
            &>:nth-child(odd) {
                padding-left: 0;
            }
        }
    }
    &__item {
        padding: 30px 0;
        padding-right: 10px;
        border-top: 1px solid rgba(138,138,138,.2);
        @include max-screen($xxs-max) {
            border-width: 0 !important;
            border-bottom: 1px solid rgba(138,138,138,.2) !important; 
            padding-left: 0 !important;
            &:last-child {
                border: 0 !important;
            }
        }
        &>* {
            color: $font-color-lighter;
        }
        sup {
            font-size: 65%;
        }
        h4,
        ul {
            margin:0;
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;
            margin:0;
            text-transform: uppercase;
            letter-spacing: 2px;   
            font-weight: 500;
            span {
                display: block;
            }
        }
        ul li {
            font-size: 14px;
            text-transform: uppercase;
             @include max-screen(1500px) {
                font-size: 12px;
            }
        }
    }
}

