.contact-page {
    &__data {
        padding: 60px 0;
    }
    &__map-form {
        position: relative;
    }
    // .heading {
    //     background-size: contain; 
    // }
}

// summary
.contact-data-summary {
    padding: 45px 60px;
    @include max-screen($xs-max) {
        padding: 30px;
    }
    &__logo {
    img {
        max-width: 100px;
        margin-bottom: 20px;
    }
    }
    &__company-name {
        &>:first-child {
            text-transform: uppercase;
            font-weight: 500;
        }
        &>:last-child {
            font-weight: 300;
        }
    }
    &__data {
        padding: 15px 0;
        [class^="icon-"],
        [class*="icon-"] {
            display: block;
            margin-bottom: 15px;
        }
        ul:not(.contact-data__company-name) > li {
            margin-bottom: 3px;
        }
    }
}

// team
.contact-data-team {
    &__item {
        border: 2px solid rgba(108,109,112,.2);
        padding: 50px 30px;
        margin-top: 30px;
        width: 100%;
        @include transition();
        @include hover() {
            background-color: #fff;
            border-color: transparent;
            box-shadow: 0px 1px 14px 0px rgba(54, 54, 54, 0.1);
        }
        &>.flex {
            height: 100%;
        }
        header {
            &>:first-child {
                margin:0;
            }
            &>:last-child {
                margin-bottom: 40px;
                font-weight: 500;
            }
        }
        footer {
            a {
                font-weight: 500;
            }
        }
        &--first {
            border:0;
            background-color: #fff;
            h6 {
                font-weight: 500;
            }
        }
    }
}

// map
.map {
    background: #ccc;
    position: absolute;
    top:0;
    left:0;
    width: 50vw;
    height: 100%;
    @include max-screen($sm-max) {
        position: relative;
        height: 50vh;
        width: 100vw;
    }
}

.contact-form {
    padding: 90px;
    padding-right: 0;
    @include max-screen($sm-max) {
        padding-left:0;
    }
    &__title {
        margin-bottom: 40px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        width: 100%;
        margin-bottom: 5px;
        @include max-screen($xxs-max) {
            text-align: center;
        }
    }
    &__submit {
        margin:0;
        @include max-screen($xs-max) {
            width: 100%;
        }
    }
}