// slider
.homepage-slider {
    background-color: $bg-color-darker;
    position: relative;
    // arrow
    &__arrow {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        color: #fff;
        text-align: center;
        @include keyframes(scroll-down) {
            0% {
                bottom: 4%;
            }
            50% {
                bottom: 5%;
            }
            100% {
                bottom: 4%;
            }
        }
        animation: scroll-down 1.3s ease-out infinite;

        @include hover() {
            color: #fff !important;
            opacity: .6;
        }

        @include max-screen($sm-max) {
            display: none;
        }
        >* {
            display: block;
            width: 100%;
        }
        span {
            font-size: 14px;
            letter-spacing: .6px;
            margin-bottom: 10px;
        }
        .icon-arrow {
            transform: rotate(90deg);
        }
    }
    // dots
    @include max-screen($sm-max) {
        .flickity-page-dots {
            right:50%;
            transform: translateX(50%);
        }
    }
    // items
    &__item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 18.25%;
        padding-bottom: 18.25%;
        width: 100%;
        overflow: hidden;
        @include max-screen(1500px) {
            padding-top: 22%;
            padding-bottom: 22%;
        }
        @include max-screen($md-max) {
            padding-top: 30%;
            padding-bottom: 30%;
        }
        @include max-screen($xs-max) {
            padding-top: 40%;
            padding-bottom: 40%;
        }
        @include max-screen($xxs-max) {
            padding-top: 60%;
            padding-bottom: 60%;
        }
        &::before {
            content: '';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-image: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
        }
        // static text
        &-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            right:calc(6.2% + 15px);
            text-align: right;
            max-width: 50%;
            @include max-screen(1500px) {
                right:calc(2.5% + 15px);
            }
            .btn {
                margin: 0;
            }
            @include max-screen($sm-max) {
                text-align: center;
                right: 50%;
                transform: translateX(50%) translateY(-50%);
                &> .flex {
                    justify-content: center;
                }
            }
            @include max-screen($xxs-max) {
                width: 80%;
            }
        }
        &-text-title {
            color: #fff;
            margin-bottom: 30px;
            @include max-screen(1500px) {
                font-size: 50px;
            }
            @include max-screen($sm-max) {
                font-size: 40px;
            }
            @include max-screen($xs-max) {
                margin-top: 50px;
            }
        }
    }
}

// offer
.homepage-offer {
    display: inline-block;
    width: 100%;
    &__main-header {
        padding: 80px 0;
        @include max-screen($xs-max) {
            padding: 50px 0;
        }
        img {
            width:70px;
            margin-right: 40px;
            @include max-screen($xxs-max) {
                display: none;
            }
        }
        &-title {
            margin:0;
        }
    }
    &__text-section {
        padding: 110px 0 150px 0;
        max-width: 40%;
        text-align: center;
        margin:0 auto;
        @include max-screen(1500px) {
            max-width: 50%;
        }
        @include max-screen($md-max) {
            max-width: 60%;
        }
        @include max-screen($sm-max) {
            max-width: 80%;
            padding: 40px 0 80px 0;
        }
        @include max-screen($xxs-max) {
            max-width: 90%;
        }
        p {
            color:$font-color-lighter;
        }
        .btn {
            margin-top: 30px;
            @include max-screen($xxs-max) {
                width: 100%;
                margin-left:0;
                margin-right:0;
            }
        }
    }
}

// news
.homepage-news {
    background-color: $key-color-1; 
    padding: 140px 0 100px;
    margin-top: -120px;
    position: relative;
    z-index: 5;
    @include max-screen($sm-max) {
        padding: 110px 0 100px;
    }
    &::before {
        content: '';
        position: absolute;
        left:calc(50% - 1px);
        top:-80px;
        background-color: #d8d8d8;
        width: 2px;
        height: 160px;
        @include max-screen($sm-max) {
            height: 100px;
            top:-50px;
        }
        @include max-screen($xxs-max) {
            height: 80px;
            top:-40px;
        }
    }
    > .row {
        max-width: 1170px;
        margin:0 auto;
    }
    &__title {
        text-transform: uppercase;
        letter-spacing: 4.3px;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 60px;
    }
    * {
        color: #fff;
        text-align: center;
    }
    &__post {
        margin:20px 0;
        @include max-screen($md-max) {
            padding: 0 15px;
        }
    }
    &__post-number {
        font-weight: 700;
        font-size: 13px;
    }
    &__post-title {
        margin: 30px 0;
        font-weight: 300;
        max-height: 86px;
        overflow: hidden;
    }
    &__post-time {
        display: inline-block;
        margin-bottom: 20px;
        letter-spacing: .3px;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .btn {
        margin:0;
        &::before {
            @include transition();
        }
        @include hover() {
            color: #fff !important;
            &::before {
                background-color: #fff; 
            }
        }
    }
}

// done-investments
.homepage-done-investments {
    padding: 100px 0 130px;
    position: relative;
    @include screen($md-max, 1700px) {
        .boxes {
            margin:0;
            flex-basis: 66.667%;
            max-width: 66.667%;
        }
    }
    @include max-screen($sm-max) {
        > .row {
            margin:0;
        }
    }
    &__title {
        padding-left: 85px;
        // width: 65%;
        @include max-screen(1500px) {
            width: 90%;
        }
        @include max-screen($md-max) {
            padding-left: 0;
        }
    }
    &__item {
        border:2px solid $element-color-2;
        padding: 50px;
        @include max-screen(1500px) {
            padding: 30px;
        }
        @include max-screen($md-max) {
            margin:10px 0;
            height: auto;
        }
        p {
            color: $font-color-lighter;
        }
    }
    .btn {
        position: absolute;
        right: 0;
        margin:0;
        margin-top:20px;
        padding: 0;
        .icon-arrow {
            font-size: 18px;
            padding: 21px 23px 21px 27px;
            display: block;
        }
    }
}

// promotion
.homepage-promotion {
    .container-wide {
        position: relative;
    }
    &__text-part {
        position: relative;
        z-index: 5;
        background-color: #fff;
        padding: 100px 85px;
        max-width: 38%;
        margin: 80px 0;
        @include max-screen(1500px) {
            max-width: 43%;
        }
        @include max-screen($md-max) {
            max-width: 50%;
            padding: 85px 65px;
        }
        @include max-screen($sm-max) {
            max-width: 65%;
            background-color: rgba(255,255,255,.9); 
            padding: 70px 33px;
        }
        @include max-screen($xs-max) {
            max-width: 100%;
        }
        p {
            font-size: 18px;
            color: $font-color-lighter;
        }
        .btn {
            margin-left: 0;
        }
    }
    &__bg-img {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:73%;
        right:15px;
        top:0;
        bottom:0;
        @include max-screen($sm-max) {
            width: calc(100% - 30px);
            left:15px;
        }
    }
}