.news-page {
    padding: 60px 0 120px;
}

.news-item {
    display: inline-block;
    border: 2px solid rgba(108,109,112,.2);
    padding: 40px;
    height: 300px;
    margin-top: 30px;
    width: 100%;
    @include transition();
    @include hover() {
        background-color: #fff;
        border-color: transparent;
        box-shadow: 0px 1px 14px 0px rgba(54, 54, 54, 0.1);
    }
    &__title {
        line-height: 1.35;
        height: 140px;
        overflow: hidden;
        margin-bottom: 0;
    }
    &__time {
        color: $font-color-lighter;
        font-size: 12px;
        margin-bottom: 5px;
        letter-spacing: .3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
    }
    .btn-text {
        padding-left: 0;
    }
}