.offer-item {
    //
    // slider
    //
    &__slider {
        background-color: $bg-color-darker;
        position: relative;
    }
    // text
    &__slider-main-text {
        position: absolute;
        top:10%;
        left:calc(6.2% + 15px);
        z-index: 9;
        @include max-screen(1500px) {
            left:calc(2.5% + 15px);
        }
        @include max-screen($xs-max) {
            display: none;
        }
        > * {
            font-weight: 700;
            color:#fff;
        }
        h2 {
            margin-bottom: 5px;
        }
        address {
            font-size: 21px;
        }
    }
    // items
    &__slider-main-item {
        background-position: center;
        background-size: cover;
        position: relative;
        padding-top: 18.25%;
        padding-bottom: 18.25%;
        width: 100%;
        overflow: hidden;
        @include max-screen($md-max) {
            padding-top: 24%;
            padding-bottom: 24%;
        }
        @include max-screen($sm-max) {
            padding-top: 26%;
            padding-bottom: 26%;
        }
        @include max-screen($xs-max) {
            padding-top: 30%;
            padding-bottom: 30%;
        }
        @include max-screen($xxs-max) {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        &::before {
            content: '';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-image: linear-gradient(-225deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
        }
    }
    // nav items
    &__slider-nav-item {
        background-position: center;
        background-size: cover;
        padding-top: 3.7%;
        padding-bottom: 3.7%;
        width: 16.667%;
        overflow: hidden;
        position: relative;
        @include max-screen($md-max) {
            width: 20%;
            padding-top: 5.5%;
            padding-bottom: 5.5%;
        }
        @include max-screen($sm-max) {
            width: 25%;
            padding-top: 7%;
            padding-bottom: 7%;
        }
        @include max-screen($xs-max) {
            width: 33.33%;
            padding-top: 10%;
            padding-bottom: 10%;
        }
        @include max-screen($xxs-max) {
            width: 50%;
            padding-top: 13%;
            padding-bottom: 13%;
        }
        &::before {
            content: '';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color: rgba(21,21,21,.7);
        }
        &.is-nav-selected {
            &::before {
                content: none;
            }
        }
    }
    //
    // summary
    //
    &__summary {
        padding: 100px 0;
        .container-wide {
            max-width: 1440px;
        }
    }
    &__summary-text-part {
        @include max-screen($md-max) {
            margin-bottom: 50px;
        }
        .btn {
            margin: 40px 0 0;
            @include max-screen($xxs-max) {
                width: 100%;
            }
        }
    }
    &__summary-logo {
        img {
            max-width: 33.33%;
            max-height: 50px;
            margin-bottom: 30px;
            @include max-screen($sm-max) {
                max-width: 20%;
            }
            @include max-screen($xs-max) {
                max-width: 33.33%;
            }
            @include max-screen($xxs-max) {
                max-width: 50%;
            }
        }
    }
    &__summary-title {
        font-weight: 700;
        margin-bottom: 0;
    }
    &__summary-address {
        margin-bottom: 50px;
    }
    &__summary-desc,
    &__summary-time {
        color:$font-color-lighter;
    }
    &__summary-desc {
        font-size: 18px;
    }
    &__summary-time {
        font-size: 16px;
        margin-bottom: 0;
    }
}