.promotions-page {
    padding: 60px 0 120px;
}

.promotions-item {
    display: inline-block;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:30px;
    @include transition();
    @include hover() {
        opacity: .8;
        
        .btn-text {
            color: $link-color-hover;
        }
    }
    &__tile {
        background-color: #fff;
        margin: 30px 30px 90px; 
        padding: 50px;
        max-width: 25%;
        @include screen($md-min, $md-max) {
            max-width: 33.33%;
        }
        @include screen($sm-min, $sm-max) {
            max-width: 40%;
        }
        @include max-screen($xs-max) {
            max-width: 100%;
            opacity: .9;
        }
        @include max-screen($xxs-max) {
            padding: 30px;
            margin: 30px;
        }
    }
    &__title {
        line-height: 1.35;
        margin-bottom: 0;
        height: 175px;
        overflow: hidden;
    }
    .btn-text {
        padding-left: 0;
    }
}