.text-page {
    background-color: $bg-color-lighter;
    padding: 90px 0;
    .container {
        max-width: 770px;
    }
    &__header {
        margin-bottom: 60px;
    }
    &__images {
        img {
            margin-bottom: 60px;
        }
    }
    &__time {
        display: block;
        color: $font-color-lighter;
        font-size: 12px;
        margin-bottom: 10px;
        letter-spacing: .3px;
    }
}