.main-footer {
    background-color: #fff;
    padding-top: 60px;
    .row {
        margin-bottom: 60px;
    }
    // top part
    &__logo {
        max-width: 120px;
        display: inline-block;
    }
    h6 {
        color: $font-color-lighter;
        letter-spacing: 2px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 30px;
        @include max-screen($xs-max) {
            margin-bottom: 15px;
        }
    }
    li,
    li > a {
        color: $font-color-darker;
        letter-spacing: .3px;
    }
    &__nav {
        @include max-screen($xs-max) {
            margin-top: 30px;
        }
        li,
        li > a {
            color: rgba(115,115,115,.6);
        }
    }

    @include max-screen($xxs-max) {
        &__contact {
            margin-top: 30px;
        }
    }

    // bottom part
    &__copyright {
        border-top: 1px solid rgba(108,109,112,.1);
        padding: 50px 0;
        p {
            color: rgba(138,138,138,.5);
            margin-bottom: 0;
            span {
                color: rgba(59,59,59,.5);
            }
        }
    }
    &--gray {
        background-color: $bg-color-lighter;
    }
}