.container-wide {
    width:87.6%;
    max-width: 1680px;
    margin:0 auto;
    padding: 0 15px;
    @include max-screen(1500px) {
        width:95%;
    }
    @include max-screen($xxs-max) {
        width: 100%;
    }
}