.main-header {
    padding: 20px 0;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    @include transition();
    &.static {
        position: relative;
    }
    &__logo {
        max-width: 120px;
        display: inline-block;
        margin-right: 60px;
        position: relative;
        &--white {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        @include max-screen(1500px) {
            margin-right: 30px;
            max-width: 110px;
        }
        @include max-screen($xs-max) {
            max-width: 100px;
        }
        @include max-screen($xxs-max) {
            max-width: 80px;
        }
    }
    //
    // nav
    //
    &__nav {
        li {
            position: relative;
            margin: 0 30px;
            a {
                position: relative;
                font-size: 18px;   
                letter-spacing: .3px;
                &::before {
                    @include transition();
                    content: '';
                    opacity: 0;
                    position: absolute;
                    bottom: -8px;
                    left:0;
                    right:0;
                    height:3px;
                    background-color: $key-color-1;
                }
                @include hover() {
                    &::before {
                        opacity: 1;
                        
                    }
                }
            }
            &.active { 
                a {
                    &::before {
                        content: '';
                        opacity: 1;
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        right: 0;
                        height: 3px;
                        background-color: $key-color-1;
                    } 
                }
            }
            @include max-screen(1500px) {
                margin: 0 20px;
            }
        }
    }
    &__tel {
        font-size: 18px;
        a {
            font-weight: 700;
            letter-spacing: .3px;
        }
    }
    &__lang {
        border: 1px solid rgba(108,109,112,.2);
        margin-left: 40px;
        @include transition();
        @include hover() {
            border-color: transparent;
            background-color: $bg-color-darker;
            a {
                color: #fff !important; 
            }
        } 
        a {
            display: inline-block;
            padding: 20px 18px 16px;
            font-size:15px;
            font-weight: 700;
            min-width: 60px;
            min-height: 60px;
            text-align:center;
        }
        @include max-screen(1500px) {
            margin-left: 20px;
        }
    }

    //
    // mods.
    //

    // white
    &--white {
        background-color: transparent;
        .main-header__logo {
            max-width: 140px;
            @include max-screen($sm-max) {
                max-width: 100px;
            }
        }
        .main-header__logo--white {
            opacity:1;
            position: relative;
             @include max-screen($sm-max) {
                max-width: 100px;
            }
        }
        .main-header__logo--gray {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .main-header__lang {
            border-color: rgba(255,255,255, .4);
        }
        .main-header__tel a {
            @include hover(){
                color: #fff !important;
                opacity: .6;
            }
        }
        li,
        li > a {
            color: #fff;
        }
        .main-header__nav a {
            position: relative;
            &::before {
                @include transition();
                content: '';
                opacity: 0;
                position: absolute;
                bottom: -8px;
                left:0;
                right:0;
                height:3px;
                background-color: #fff;
            }
            @include hover() {
                color:#fff !important;
                &::before {
                    opacity: 1;
                }
            }
        }
        // mobile nav
        .main-header__right-part > .mobile-nav-button {
            border-color: rgba(255,255,255,.4);
            color:#fff;
        }

        .mobile-nav li,
        .mobile-nav li > a {
            color: inherit;
        }
        ~ main {
            margin-top: 0 !important;
        }
        .main-header__lang {
            @include hover() {
                background-color: #fff;
                a {
                    color: $key-color-1 !important;
                }
            }
        }
    }

    // thin
    &--thin {
        padding: 10px 0;
        .main-header__logo {
            max-width: 100px;
        }
        .main-header__lang a {
            padding: 15px 16px 14px;
            min-width: 51px;
            min-height: 51px;
        }
        .mobile-nav-button {
            padding: 15px;
            min-height: 51px;
        }
    }
}

// 
// mobile nav
// 
.mobile-nav-button {
    border: 1px solid rgba(108,109,112,.2);
    display: inline-block;
    padding: 19px;
    font-size: 20px;
    min-height: 60px;
    @include transition();
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 99; 
    padding: 30px;
    @include transition();
    transform: translateX(100%);
    &.active {
        transform: translateX(0);
    }
    &>.flex {
        height: 100%;
        overflow: auto;
    }
    @include landscape() {
        padding: 5px 0;
    }
    .main-header__nav {
        margin: 50px 0;
        li {
            margin: 5px 30px;
            &.active::before {
                bottom: -3px;
            }
        }
    }
    .main-header__lang {
        margin-left: 0;
        margin-bottom: 15px;
        border-color: rgba(108,109,112,.2);
    }
}

// 
// subnav
// 
.subnav {
    background-color: $bg-color-darker;
    position: absolute;
    top: inherit;
    width: 100%;
    &.fixed {
        position: fixed;
        top: 0;
        z-index: 10;
    }
    li {
        padding: 30px 0;
        margin:0 40px;
        &.active {
            position: relative;
            a {
                color: #fff;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 22px;
                left: 0;
                right: 0;
                height: 3px;
                background-color: #fff;
            }
        }
        a {
            color: #bdbdbf;
            font-size: 18px;
            letter-spacing: .3px;
            @include hover() {
                color: #fff !important;
            }
        }
    }
}

// temporary
.temporary ~ main {
    margin-top: 0 !important;
}

//
// nav fixed, subnav, margins main
//
// .main-header ~ main,
// .main-header ~ .subnav {
//     // margin-top: 126px;
// }

// .static {
//     position: relative;
// }

// @include min-screen($sm-min) {
// .main-header--white ~ main,
// .subnav ~ main {
//     margin-top: 0;
// }
// }

// @include min-screen($lg-min) {
//     .static ~ .subnav {
//         margin-top: 0 !important;
//     }
// }

