// 
// body
// 

// colors
// $default-white: #fff;
// $default-black: #000;

$key-color-1: #6c6d70;
$default-font-color: #6c6d70;
$font-color-lighter: #8a8a8a;
$font-color-darker: #737373;
$bg-color-lighter: #f6f6f6;
$bg-color-darker: #4d4e52;
$element-color-1: rgba(0,0,0,.2);
$element-color-2: rgba(21,21,21,.2);
$element-color-3: rgba(237,240,244,.6);

// font
$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 400;
$default-font-weight-bold: bold;
$default-font-size: 16px; 

// iconfont
$default-font-family-icon: 'icomoon';
$list-li-icon-content: '\e903';
$list-li-icon-size: 10px;
$list-li-icon-color: $key-color-1;
$list-li-icon-top: 5px;
$list-li-icon-right: 5px;
$list-li-icon-bottom: 5px;
$list-li-icon-left: 0;

// line-height
$default-line-height: 1.5;

// margin/padding
$clear-padding: 0;
$clear-margin: 0;
$default-padding: 0 0 25px;
$default-margin: 0 0 25px;
$list-li-padding: 0 0 0 20px;
$list-li-margin: 0 0 10px;

// links
$link-color: $key-color-1;
$link-color-hover: #212121;
$link-weight: $default-font-weight;

// ::selection 
$selection-bg-color: $key-color-1;
$selection-color: #fff;

//
// heading
//
$heading-weight: 300 !default;
$heading-color: $default-font-color;
$heading-line-height: 1.2;
$heading-margin: 0 0 20px !default;

// h1
$heading-1-size: 62px !default;
$heading-1-weight: 700;
$heading-1-margin: $heading-margin;
$heading-1-color: $heading-color;
$heading-1-line-height: $heading-line-height;

// h2
$heading-2-size: 46px !default;
$heading-2-weight: $heading-weight;
$heading-2-margin: $heading-margin;
$heading-2-color: $heading-color;
$heading-2-line-height: $heading-line-height;

// h3
$heading-3-size: 36px !default;
$heading-3-weight: $heading-weight;
$heading-3-margin: $heading-margin;
$heading-3-color: $heading-color;
$heading-3-line-height: $heading-line-height;

// h4
$heading-4-size: 31px !default;
$heading-4-weight: $heading-weight;
$heading-4-margin: $heading-margin;
$heading-4-color: $heading-color;
$heading-4-line-height: $heading-line-height;

// h5
$heading-5-size: 26px !default;
$heading-5-weight: $heading-weight;
$heading-5-margin: $heading-margin;
$heading-5-color: $heading-color;
$heading-5-line-height: $heading-line-height;

// h6
$heading-6-size: 20px !default;
$heading-6-weight: $heading-weight;
$heading-6-margin: $heading-margin;
$heading-6-color: $heading-color;
$heading-6-line-height: $heading-line-height;

// 
// MEDIA QUERIES
// 

$xxs-max: 479px;
$xs-min: 480px;
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;
// $lg-max: 1679px;

